/* =============================================== */
/* BASIC SETUP  */
/* =============================================== */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Jersey+10&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Workbench&display=swap');

*::after,
*::before,
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Orbitron', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;

    --black_color: #000;
    --white_color: #fff;
    --black_text: #333;
    --white_text: #f5f5f5;
    --snow_white_color: #fffafa;
    --gray_color: #c0c0c0;
    --light_gray_color: #eeeeee;
    --dark_gray_color: #808080;
    --light_green_color: #1bff14;
    --green_color: #32de84;
    --dark_green_color: #03c04a;
    --light_red_color: #f13e23;
    --red_color: #ff2400;
    --dark_red_color: #cc0000;
    --yellow_color: #ffc72c;
    --light_yellow_color: #ffd700;
    --dark_yellow_color: #febe10;
    --blue_color: #00bfff;
    --light_blue_color: #28c6fb;
    --dark_blue_color: #add8e6;
    --soft_dark_blue_color: #b0e0e6;
    --primary_color: #4563cf;
    --light_primary_color: #627ee3;

    --big_ele_border_radius: 16px;
    --small_ele_border_radius: 12px;
    --smaller_ele_border_radius: 8px;
    --ele_black_bg_color: rgba(16, 16, 16, 0.9);
    --ele_dark_smoke_bg_color: rgba(16, 16, 16, 0.46);
    --ele_light_smoke_bg_color: rgba(66, 66, 66, 0.46);
    --ele_white_bg_color: rgba(236, 236, 236, 0.9);
    --ele_light_white_bg_color: rgba(206, 206, 206, 0.66);
    --ele_transition: all 360ms ease-in-out;

    --map_cell_line_color: rgba(198, 235, 255, 0.46);
    --radial_team_map_color_overlay: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 15%,
        rgba(69, 99, 207, 0.0112780112) 30%,
        rgba(69, 99, 207, 0.1012780112) 60%,
        rgba(69, 99, 207, 0.249737395) 86%,
        rgba(69, 99, 207, 0.699737395) 100%
    );
    --radial_enemy_map_color_overlay: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 15%,
        rgba(233, 101, 81, 0.0112780112) 30%,
        rgba(233, 101, 81, 0.1012780112) 60%,
        rgba(233, 101, 81, 0.249737395) 86%,
        rgba(233, 101, 81, 0.699737395) 100%
    );

    --cell_size: 46px;
}

/* Reset CSS styles for some elements */
a {
    text-decoration: none;
    color: var(--black_text);
}

ul,
li {
    list-style: none;
}

/* Make SVG elements works with current color */
svg {
    font-size: 1rem;
    height: 3.6rem;
    aspect-ratio: 1 / 1;
}

svg path {
    fill: currentColor;
}

/* Improve line wrapping + avoid text overflows */
p {
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}
/* =============================================== */
/* ANIMATION SETUP  */
/* =============================================== */
@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blinkCaret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--primary_color);
    }
}

/* radar rotate effect  */
@keyframes spin {
    to {
        transform: rotate(360deg) skew(45deg, 0);
    }
}

@keyframes teamOverlayChangeColor {
    from {
        color: var(--gray_color);
    }
    to {
        color: var(--light_primary_color);
    }
}

/* =============================================== */
/* BASIC BODY + MAIN ELEMENTS SETUP  */
/* =============================================== */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.corner {
    border: 3px solid var(--snow_white_color);
    position: absolute;
}

.top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
}

.bottom-left {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
}

.bottom-right {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;
}

.teamText,
.userName {
    font-family: 'Jersey 10', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;
}

.enemyText {
    font-family: 'Workbench', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;
}

.characterImg {
    height: 4.2rem;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
}

.teamCharImg {
    border: 1px solid var(--green_color);
}

.enemyCharImg {
    border: 1px solid var(--red_color);
}

.gameBtn {
    font-size: 1.66rem;
    color: var(--white_text);
    font-weight: 600;
    padding: 0.46em;
    width: 7.6em;

    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.gameBtn:hover {
    background-color: var(--ele_light_smoke_bg_color);
}

.gameBtnCorner {
    height: 26%;
    width: 10%;
    transition: var(--ele_transition);
}

.gameBtnCorner.top-right,
.shipCardCorner.top-right {
    border-top-right-radius: 4.6px;
}

.gameBtnCorner.top-left,
.shipCardCorner.top-left {
    border-top-left-radius: 4.6px;
}

.gameBtnCorner.bottom-left,
.shipCardCorner.bottom-left {
    border-bottom-left-radius: 4.6px;
}

.gameBtnCorner.bottom-right,
.shipCardCorner.bottom-right {
    border-bottom-right-radius: 4.6px;
}

.gameBtn:hover .gameBtnCorner {
    height: 36%;
    width: 16%;
}

/* =============================================== */
/* BACKGROUND IMAGE SETUP  */
/* =============================================== */
.bgImgWrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #060d1f;
    filter: brightness(2.96) contrast(1.16);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bgImg {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    filter: blur(1.5px);
}

/* =============================================== */
/* MAIN APP SETUP  */
/* =============================================== */
.app {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

/* =============================================== */
/* MAP GRID SETUP  */
/* =============================================== */
.mapGrid {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;

    grid-template-columns: repeat(10, var(--cell_size));
    grid-template-rows: repeat(10, var(--cell_size));

    background-color: transparent;

    overflow: hidden;
    position: relative;
    z-index: 20;
}

.mapGrid.team {
    border: 4.2px solid var(--primary_color);
}

.mapGrid.enemy {
    border: 4.2px solid var(--light_red_color);
}

/* center map crosshair */
.mapCrossHair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -11px 0 0 -11px;
}

.mapCrossHair::before,
.mapCrossHair::after {
    content: '';
    position: absolute;
    z-index: 20;
}

.mapCrossHair.team::before,
.mapCrossHair.team::after {
    background: var(--green_color);
}

.mapCrossHair.enemy::before,
.mapCrossHair.enemy::after {
    background: var(--red_color);
}

.mapCrossHair::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
}

.mapCrossHair::after {
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
}

.mapWaveGuide {
    height: 50%;
    width: 50%;
    position: absolute;
    transform-origin: bottom right;
    transform: rotate(0deg) skew(45deg, 0);
    animation: spin 6s linear infinite;
}

.mapWaveGuide.team {
    background-image: linear-gradient(236deg, var(--primary_color) 15%, transparent 60%);
    border-right: 3px solid var(--primary_color);
}

.mapWaveGuide.enemy {
    background-image: linear-gradient(236deg, var(--light_red_color) 15%, transparent 60%);
    border-right: 3px solid var(--light_red_color);
}

.mapField {
    height: var(--cell_size);
    width: var(--cell_size);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid var(--map_cell_line_color);
    transition: var(--ele_transition);
    z-index: 15;
}

.mapField:hover {
    background-color: var(--ele_light_white_bg_color);
}

.mapDot {
    height: 3rem;
    aspect-ratio: 1 / 1;
    z-index: 15;
}

.mapDot.red {
    color: var(--red_color);
}

.mapDot.blue {
    color: var(--blue_color);
}

.letter,
.number {
    font-size: 1.16rem;
    color: var(--white_text);
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.number {
}

.letterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numberWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* =============================================== */
/* SHIPS OVERLAY SETUP  */
/* =============================================== */
.mapShipsOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(10, var(--cell_size));
    grid-template-rows: repeat(10, var(--cell_size));
}

.shipOverlay {
    color: var(--gray_color);
    animation: teamOverlayChangeColor 2.6s ease-in-out infinite;
    z-index: 11;
}

.carrierImg {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
    width: calc(var(--cell_size) * 5);
    height: var(--cell_size);
}

.carrierImg.vertical {
    grid-column: 2 / 3;
    grid-row: 2 / 7;
    transform: rotate(90deg) translate(calc(var(--cell_size) * 2.06), 190%);
}

.battleshipImg {
    grid-column: 7 / 11;
    grid-row: 2 / 3;
    width: calc(var(--cell_size) * 4);
    height: var(--cell_size);
}

.battleshipImg.vertical {
    grid-column: 8 / 9;
    grid-row: 7 / 11;
    transform: rotate(90deg) translate(calc(var(--cell_size) + 28px), 150%);
}

.destroyerImg {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: calc(var(--cell_size) * 3);
    height: var(--cell_size);
}

.destroyerImg.vertical {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
    transform: rotate(90deg) translate(var(--cell_size), 100%);
}

.submarineImg {
    grid-row: 9 / 10;
    grid-column: 2 / 5;
    width: calc(var(--cell_size) * 3);
    height: var(--cell_size);
}

.submarineImg.vertical {
    grid-column: 10 / 11;
    grid-row: 3 / 6;
    transform: rotate(90deg) translate(var(--cell_size), 100%);
}

.cruiserImg {
    grid-row: 10 / 11;
    grid-column: 2 / 4;
    width: calc(var(--cell_size) * 2);
    height: var(--cell_size);
}

.cruiserImg.vertical {
    grid-column: 6 / 7;
    grid-row: 6 / 8;
    transform: rotate(90deg) translate(calc(var(--cell_size) - 24px), 46%);
}

/* =============================================== */
/* START SCREEN SETUP  */
/* =============================================== */
.startScreen.hide {
    display: none;
}

.startScreen {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 0.55fr;

    z-index: 10;
    position: relative;
}

.startBox {
    place-self: center;
    background-color: var(--ele_black_bg_color);

    border-radius: var(--big_ele_border_radius);
    /* border: 2px solid var(--snow_white_color); */
    position: relative;
}

.startBoxCorner {
    font-size: 1rem;
    width: 4.6em;
    height: 4.6em;
    transition: var(--ele_transition);
}

.startBoxCorner.top-left {
    border-top-left-radius: var(--big_ele_border_radius);
}

.startBoxCorner.top-right {
    border-top-right-radius: var(--big_ele_border_radius);
}

.startBoxCorner.bottom-left {
    border-bottom-left-radius: var(--big_ele_border_radius);
}

.startBoxCorner.bottom-right {
    border-bottom-right-radius: var(--big_ele_border_radius);
}

.startBox:hover .startBoxCorner {
    font-size: 1.6rem;
    border-width: 4.6px;
}

.startHelpBtnWrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 1.2em;
    margin: 1.6em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.startHelpBtnImg {
    width: 3.6rem;
    color: var(--snow_white_color);
    cursor: pointer;
}

.startHelpBtnImg.full {
    width: 0;
}

.startHelpBtnWrapper:hover .startHelpBtnImg.empty {
    width: 0;
}

.startHelpBtnWrapper:hover .startHelpBtnImg.full {
    width: 3.6rem;
}

.startBoxContent {
    font-size: 1rem;
    margin: 2.2em 2.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startTitleWrapper {
    width: 100%;

    font-size: 1rem;
    margin-bottom: 6.6em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.startTitleImg {
    width: 760px;
}

.startForm {
    width: 100%;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
}

.startInp {
    width: clamp(50%, 330px, 76%);
    font-size: 1.8rem;
    padding: 0.36em 0.6em;
    letter-spacing: 0.16em;

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1.5px solid var(--blue_color);
}

.startInp::placeholder,
.startInp {
    color: var(--blue_color);
    font-weight: 360;
}

.startBtn {
    font-weight: 860;

    width: 50%;
    height: 100px;
    min-height: 90px;
    overflow: hidden;
    cursor: crosshair;

    background-color: transparent;
    outline: none;
    border: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.startBtnImg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;

    position: absolute;
    height: 340px;
    top: -130%;
    clip-path: inset(0 50% 0 50%); /* Hide img from both sides */
    transition: var(--ele_transition);

    color: var(--white_color);
    z-index: 10;
}

.startBtnText {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;

    position: absolute;
    top: 56%;

    font-size: 2.6rem;
    font-weight: 860;
    color: var(--white_text);
    transition: all;
    transition: var(--ele_transition);
    z-index: 11;
}

.startBtn:hover .startBtnImg {
    clip-path: inset(0 0 0 0); /* Reveal fully svg img */
}

.startBtn:hover .startBtnText {
    color: var(--black_text);
}

.creditWrapper {
    font-size: 1rem;
    padding: 0.26em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2em;
    background-color: var(--ele_dark_smoke_bg_color);
    transition: var(--ele_transition);
}

.creditWrapper:hover {
    background-color: var(--ele_black_bg_color);
}

.usrName {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.usrName,
.iconPicCredit,
.creditLink {
    font-size: 1.6rem;
    color: var(--white_text);
    letter-spacing: 0.16em;
    transition: var(--ele_transition);
    cursor: default;
}

.usrName:hover,
.creditLink:hover {
    color: var(--white_color);
    font-weight: 600;
    transform: scale(1.1);
    cursor: pointer;
}

.gitIcon {
    height: 2.6rem;
}

.iconPicCredit {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.86em;
}

/* =============================================== */
/* PREPARATION SCREEN SETUP  */
/* =============================================== */
.prepScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.prepScreen.hide {
    display: none;
}

.prepWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.36em;
}

.prepTop,
.prepMid,
.prepBot {
    width: 100%;
    font-size: 1rem;
    padding: 1.06em;
    background-color: var(--ele_black_bg_color);
    border-radius: var(--smaller_ele_border_radius);
    border: 2px solid transparent;
    transition: var(--ele_transition);
}

.prepTop:hover,
.prepMid:hover,
.prepBot:hover {
    border-color: var(--primary_color);
}

.prepTop {
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4em;
}

.pTopImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pTopText,
.userName {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    /* max-width: 75ch; */
    color: var(--white_text);
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.userName {
    font-size: 2.2rem;
    font-weight: 500;
}

.pTopText {
    border-right: 0.66em solid var(--primary_color);
    animation: typing 5.5s steps(30, end), blinkCaret 1600ms step-end infinite;
}

.prepMid {
    max-height: 576px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.6em;
}

.pMidLeft {
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1.2em;
}

.pMidDirections {
    grid-column: 1 / 3;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.6em;

    margin-bottom: 1em;
}

.pLetterWrapper {
    grid-column: 2 / 3;
}

.pNumberWrapper {
    grid-column: 1 / 2;
}

.prepMapWrapper {
    position: relative;
    height: calc(var(--cell_size) * 10.1);
    width: calc(var(--cell_size) * 10.1);
    background-image: var(--radial_team_map_color_overlay);
}

.pMidRight {
    height: 100%;
    font-size: 1rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-rows: auto;
    gap: 1.6em;
}

.shipCard {
    min-width: 96px;
    aspect-ratio: 1 / 1;
    background-color: var(--black_color);
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shipCardCorner {
    height: 16%;
    width: 16%;
    transition: var(--ele_transition);
}

.shipCard:hover .shipCardCorner {
    height: 30%;
    width: 30%;
}

.shipCardContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shipCardImg {
    width: 80px;
    aspect-ratio: 1 / 1;
    color: var(--gray_color);
}

.cardText,
.cardTextSize {
    font-size: 1.1rem;
    color: var(--white_text);
    transition: var(--ele_transition);
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.cardTextSize {
    display: block;
}

.shipCard:hover .cardText,
.shipCard:hover .cardTextSize {
    color: var(--white_color);
    font-weight: 600;
}

.prepBot {
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4em;
}

.pBotBtnWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.6em;
}

/* =============================================== */
/* GAME PLAY SCREEN SETUP  */
/* =============================================== */
.gameScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.gameWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.36em;
}

.gameScreen.hide {
    display: none;
}

.gameSidesWrapper {
    /* max-height: 576px; */
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.6em;
}

.gSideWrapper,
.gameChatWrapper {
    font-size: 1rem;
    padding: 1.6em;
    background-color: var(--ele_black_bg_color);
    border-radius: var(--smaller_ele_border_radius);
    transition: var(--ele_transition);
}

.gSideWrapper {
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1.2em;
}

.gSideHeading {
    grid-column: 1 / 3;
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0 auto 0.4em;
}

.gSideWrapper.team .gSideHeading {
    color: var(--primary_color);
}

.gSideWrapper.enemy .gSideHeading {
    color: var(--red_color);
}

.gLetterWrapper {
    grid-column: 2 / 3;
}

.gNumberWrapper {
    grid-column: 1 / 2;
}

.gSideMapWrapper {
    position: relative;
    height: calc(var(--cell_size) * 10.1);
    width: calc(var(--cell_size) * 10.1);
}

.gameChatWrapper {
    width: 100%;
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4em;
}

.gameChatWrapper.enemy {
    flex-direction: row-reverse;
}

.chatImg {
}

.chatContent {
    font-size: 2.16rem;
    letter-spacing: 0.1em;
    color: var(--white_text);
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.chatContent.enemyText {
    font-size: 1.66rem;
}

/* =============================================== */
/* HELPER SCREEN SETUP  */
/* =============================================== */
/* =============================================== */
/* START HELPER SETUP  */
/* =============================================== */
.helperScreenWrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;

    background-color: var(--ele_dark_smoke_bg_color);
    backdrop-filter: blur(14.6px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 360ms ease-out;

    z-index: 20;
}

.helperScreenWrapper.hide {
    display: none;
    animation: vanish 360ms ease-out;
}

.startHelpBox {
    background-color: var(--ele_white_bg_color);
    font-size: 1rem;
    padding: 3.2em 4.6em;
    max-width: 60%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.daggerImg {
    position: absolute;
    top: -16%;
    left: 32%;
    aspect-ratio: 1 / 1;
    transform: rotate(10deg);
    height: 240px;
}

.helpBoxTitle {
    font-size: 8.6rem;
    font-weight: 900;
    color: var(--black_text);
    margin: 0;
    /* margin-bottom: 0.1em; */
    cursor: default;
}

.helpBoxBody {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6em;
    cursor: default;
}

.helpBodyPart {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
}

.helpBodyTitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--black_text);
    letter-spacing: 0.06em;
}

.helpBodyContent {
    font-size: 2rem;
    margin-left: 2.4em;
    color: var(--black_text);
    max-width: 75ch;
    letter-spacing: 0.04em;
    line-height: 1.4;
}

.startHelpBoxCloseWrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 1em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.helpBoxCloseBtn {
    height: 3.2rem;
    cursor: pointer;
    color: var(--black_text);
}

.helpBoxCloseBtn.full {
    width: 0;
}

.startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.empty {
    width: 0;
}

.startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.full {
    width: 3.2rem;
}

/* =============================================== */
/* RESULT HELPER SETUP  */
/* =============================================== */
.resultScreen {
}
