/* =============================================== */
/* BASIC SETUP  */
/* =============================================== */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Jersey+10&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Workbench&display=swap');

*::after,
*::before,
* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Orbitron', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;

    --black_color: #000;
    --white_color: #fff;
    --black_text: #333;
    --white_text: #f5f5f5;
    --snow_white_color: #fffafa;
    --gray_color: #c0c0c0;
    --light_gray_color: #eeeeee;
    --dark_gray_color: #808080;
    --light_green_color: #1bff14;
    --green_color: #32de84;
    --dark_green_color: #03c04a;
    --light_red_color: #f13e23;
    --red_color: #ff2400;
    --dark_red_color: #cc0000;
    --yellow_color: #ffc72c;
    --light_yellow_color: #ffd700;
    --dark_yellow_color: #febe10;
    --blue_color: #00bfff;
    --light_blue_color: #28c6fb;
    --dark_blue_color: #add8e6;
    --soft_dark_blue_color: #b0e0e6;
    --primary_color: #4563cf;
    --light_primary_color: #627ee3;

    --big_ele_border_radius: 16px;
    --small_ele_border_radius: 12px;
    --smaller_ele_border_radius: 8px;
    --ele_black_bg_color: rgba(16, 16, 16, 0.9);
    --ele_dark_smoke_bg_color: rgba(16, 16, 16, 0.46);
    --ele_light_smoke_bg_color: rgba(66, 66, 66, 0.46);
    --ele_white_bg_color: rgba(236, 236, 236, 0.9);
    --ele_light_white_bg_color: rgba(206, 206, 206, 0.66);
    --ele_transition: all 360ms ease-in-out;

    --map_cell_line_color: rgba(198, 235, 255, 0.46);
    --map_cell_white_bg_color: rgba(196, 196, 196, 0.66);
    --map_cell_red_bg_color: rgba(244, 111, 111, 0.66);
    --map_cell_green_bg_color: rgba(139, 251, 131, 0.66);

    --radial_team_map_color_overlay: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 15%,
        rgba(69, 99, 207, 0.0112780112) 30%,
        rgba(69, 99, 207, 0.1012780112) 60%,
        rgba(69, 99, 207, 0.249737395) 86%,
        rgba(69, 99, 207, 0.699737395) 98%
    );
    --radial_enemy_map_color_overlay: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 15%,
        rgba(233, 101, 81, 0.0112780112) 30%,
        rgba(233, 101, 81, 0.1012780112) 60%,
        rgba(233, 101, 81, 0.249737395) 86%,
        rgba(233, 101, 81, 0.699737395) 98%
    );

    --cell_size: 46px;

    --fs_heading_4xl: clamp(8rem, 4.6vw + 8.3rem, 8.6rem);
    --fs_heading_xxl: clamp(4.6rem, 3.6vw + 4.8rem, 5.6rem);
    --fs_heading_xl: clamp(4rem, 3vw + 4rem, 4.6rem);
    --fs_heading_lg: clamp(3.6rem, 2.6vw + 3.6rem, 4rem);
    --fs_heading_md: clamp(3.2rem, 1.86vw + 3.2rem, 3.6rem);
    --fs_heading_sm: clamp(3rem, 1.66vw + 3rem, 3.2rem);
    --fs_heading_ssm: clamp(2.66rem, 1.6vw + 2.8rem, 3rem);
    --fs_heading_3sm: clamp(2.6rem, 1.4vw + 2.6rem, 2.66rem);

    --fs_normal_xl: clamp(2.26rem, 1.2vw + 2.2rem, 2.46rem);
    --fs_normal_lg: clamp(1.76rem, 0.8vw + 1.8rem, 2.26rem);
    --fs_normal_md: clamp(1.66rem, 0.6vw + 1.66rem, 1.76rem);
    --fs_normal_sm: clamp(1.56rem, 0.46vw + 1.6rem, 1.66rem);
    --fs_normal_ssm: clamp(1.36rem, 0.3vw + 1.4rem, 1.56rem);
    --fs_normal_3sm: clamp(1rem, 0.3vw + 1.2rem, 1.36rem);
    --fs_normal_4sm: clamp(0.66rem, 0.2vw + 0.86rem, 1rem);

    --distance_3xl: 48px;
    --distance_xxl: 40px;
    --distance_xl: 32px;
    --distance_lg: 24px;
    --distance_md: 16px;
    --distance_sm: 8px;
    --distance_ssm: 6px;
    --distance_3sm: 4px;

    --scroll_bar_width: 4px;
    --scroll_bar_border_radius: 8px;
}

/* Reset CSS styles for some elements */
a {
    text-decoration: none;
    color: var(--black_text);
}

ul,
li {
    list-style: none;
}

/* Make SVG elements works with current color */
svg {
    font-size: 1rem;
    height: 3.6rem;
    aspect-ratio: 1 / 1;
}

svg path {
    fill: currentColor;
}

/* Improve line wrapping + avoid text overflows */
p {
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

/* SCROLLBAR SET UP */
::-webkit-scrollbar {
    width: var(--scroll_bar_width);
    height: var(--scroll_bar_width);

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        width: calc(var(--scroll_bar_width) * 0.96);
        height: calc(var(--scroll_bar_width) * 0.96);
    }

    @media (max-width: 460px) {
        width: calc(var(--scroll_bar_width) * 0.9);
        height: calc(var(--scroll_bar_width) * 0.9);
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.36);
    -webkit-border-radius: var(--scroll_bar_border_radius);
    border-radius: var(--scroll_bar_border_radius);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: var(--scroll_bar_border_radius);
    border-radius: var(--scroll_bar_border_radius);
    background: var(--light_blue_color);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.36);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--light_blue_color);
}

/* =============================================== */
/* ANIMATION SETUP  */
/* =============================================== */
@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes teamBlinkCaret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--primary_color);
    }
}

@keyframes enemyBlinkCaret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--red_color);
    }
}

/* radar rotate effect  */
@keyframes spin {
    to {
        transform: rotate(360deg) skew(45deg, 0);
    }
}

@keyframes teamOverlayChangeColor {
    from {
        color: var(--gray_color);
    }
    to {
        color: var(--light_primary_color);
    }
}

/* =============================================== */
/* BASIC BODY + MAIN ELEMENTS SETUP  */
/* =============================================== */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.corner {
    border: 3px solid var(--snow_white_color);
    position: absolute;
}

.top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
}

.bottom-left {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
}

.bottom-right {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;
}

.teamText,
.userName {
    font-family: 'Jersey 10', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;
}

.enemyText {
    font-family: 'Workbench', 'AR One Sans', 'Roboto Mono', 'Sono', 'Roboto', Arial, Helvetica, sans-serif;
}

.characterImg {
    height: var(--fs_heading_lg);
    aspect-ratio: 1 / 1;
    border-radius: 2px;
}

.teamCharImg {
    border: 1px solid var(--green_color);
}

.enemyCharImg {
    border: 1px solid var(--red_color);
}

.gameBtn {
    font-size: var(--fs_normal_md);
    color: var(--white_text);
    font-weight: 600;
    padding: 0.46em;
    width: 7.6em;

    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 4px;
    position: relative;
    transition: var(--ele_transition);
    cursor: pointer;
}

.gameBtn:hover {
    background-color: var(--ele_light_smoke_bg_color);
}

.gameBtnCorner {
    height: 26%;
    width: 10%;
    transition: var(--ele_transition);
}

.gameBtn.disabled {
    cursor: not-allowed;
    color: var(--dark_gray_color);
    background-color: transparent;
    opacity: 0.6;
}

.gameBtn.disabled .gameBtnCorner {
    border-color: var(--dark_gray_color);
    height: 26% !important;
    width: 10% !important;
}

.gameBtnCorner.top-right,
.shipCardCorner.top-right {
    border-top-right-radius: 4.6px;
}

.gameBtnCorner.top-left,
.shipCardCorner.top-left {
    border-top-left-radius: 4.6px;
}

.gameBtnCorner.bottom-left,
.shipCardCorner.bottom-left {
    border-bottom-left-radius: 4.6px;
}

.gameBtnCorner.bottom-right,
.shipCardCorner.bottom-right {
    border-bottom-right-radius: 4.6px;
}

.gameBtn:hover .gameBtnCorner {
    height: 36%;
    width: 16%;
}

/* =============================================== */
/* BACKGROUND IMAGE SETUP  */
/* =============================================== */
.bgImgWrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #060d1f;
    filter: brightness(2.66) contrast(1.16);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bgImg {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    filter: blur(1.5px);
}

/* =============================================== */
/* MAIN APP SETUP  */
/* =============================================== */
.app {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

/* =============================================== */
/* MAP GRID SETUP  */
/* =============================================== */
.mapVisualEffect {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;

    overflow: hidden;
    position: relative;
    z-index: 20;
}

.mapGrid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;

    grid-template-columns: repeat(10, var(--cell_size));
    grid-template-rows: repeat(10, var(--cell_size));

    background-color: transparent;

    overflow: hidden;
    position: relative;
    z-index: 25;
}

.mapGrid.team {
    border: 4.2px solid var(--primary_color);
}

.mapGrid.enemy {
    border: 4.2px solid var(--light_red_color);
}

/* center map crosshair */
.mapCrossHair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -11px 0 0 -11px;
}

.mapCrossHair::before,
.mapCrossHair::after {
    content: '';
    position: absolute;
    z-index: 20;
}

.mapCrossHair.team::before,
.mapCrossHair.team::after {
    background: var(--green_color);
}

.mapCrossHair.enemy::before,
.mapCrossHair.enemy::after {
    background: var(--red_color);
}

.mapCrossHair::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
}

.mapCrossHair::after {
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
}

.mapWaveGuide {
    height: 50%;
    width: 50%;
    position: absolute;
    transform-origin: bottom right;
    transform: rotate(0deg) skew(45deg, 0);
    animation: spin 3.6s linear infinite;
}

.mapWaveGuide.team {
    background-image: linear-gradient(236deg, var(--primary_color) 15%, transparent 60%);
    border-right: 3px solid var(--primary_color);
}

.mapWaveGuide.enemy {
    background-image: linear-gradient(236deg, var(--light_red_color) 15%, transparent 60%);
    border-right: 3px solid var(--light_red_color);
}

.mapCell {
    height: var(--cell_size);
    width: var(--cell_size);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid var(--map_cell_line_color);
    transition: var(--ele_transition);
    z-index: 15;
}

.mapCell:hover {
    background-color: var(--map_cell_white_bg_color);
    cursor: crosshair;
}

.mapCell.red,
.mapCell.red:hover {
    background-color: var(--map_cell_red_bg_color);
}

.mapCell.green,
.mapCell.green:hover {
    background-color: var(--map_cell_green_bg_color);
}

.mapCell.disable,
.mapGrid.team .mapCell {
    cursor: not-allowed;
    background-color: transparent;
}

.mapCell.disable:hover,
.mapGrid.team .mapCell:hover {
    background-color: transparent;
}

.mapDot {
    height: 3rem;
    aspect-ratio: 1 / 1;
    z-index: 15;
}

.mapDot.red {
    color: var(--red_color);
}

.mapDot.blue {
    color: var(--blue_color);
}

.letter,
.number {
    font-size: calc(var(--fs_normal_3sm) * 0.9);
    color: var(--white_text);
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.number {
}

.letterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numberWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* =============================================== */
/* SHIPS OVERLAY SETUP  */
/* =============================================== */
.mapShipsOverlay {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(10, var(--cell_size));
    grid-template-rows: repeat(10, var(--cell_size));
}

.shipOverlay {
    color: var(--gray_color);
    animation: teamOverlayChangeColor 2.6s ease-in-out infinite;
    z-index: 11;
}

.shipOverlay.hide {
    visibility: hidden;
}

.carrierImg {
    width: calc(var(--cell_size) * 5);
    height: var(--cell_size);
    transform: translate(2%, 8%);
}

.carrierImg.vertical {
    transform: rotate(90deg) translate(calc(var(--cell_size) * 2.06), 190%);
}

.battleshipImg {
    width: calc(var(--cell_size) * 4);
    height: var(--cell_size);
    transform: translate(2%, 12%);
}

.battleshipImg.vertical {
    transform: rotate(90deg) translate(calc(var(--cell_size) + 26px), 150%);
}

.destroyerImg {
    width: calc(var(--cell_size) * 3);
    height: var(--cell_size);
    transform: translate(2%, 12%);
}

.destroyerImg.vertical {
    transform: rotate(90deg) translate(calc(var(--cell_size) + 2px), 100%);
}

.submarineImg {
    width: calc(var(--cell_size) * 3);
    height: var(--cell_size);
    transform: translateY(20%);
}

.submarineImg.vertical {
    transform: rotate(90deg) translate(var(--cell_size), 100%);
}

.cruiserImg {
    width: calc(var(--cell_size) * 2);
    height: var(--cell_size);
    transform: translateX(4%);
}

.cruiserImg.vertical {
    transform: rotate(90deg) translate(calc(var(--cell_size) - 18px), 46%);
}

/* =============================================== */
/* START SCREEN SETUP  */
/* =============================================== */
.startScreen.hide {
    display: none;
}

.startScreen {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 0.55fr;

    z-index: 10;
    position: relative;
}

.startBox {
    place-self: center;
    background-color: var(--ele_black_bg_color);

    border-radius: var(--big_ele_border_radius);
    /* border: 2px solid var(--snow_white_color); */
    position: relative;
}

.startBoxCorner {
    font-size: 1rem;
    width: 4.6em;
    height: 4.6em;
    transition: var(--ele_transition);
}

.startBoxCorner.top-left {
    border-top-left-radius: var(--big_ele_border_radius);
}

.startBoxCorner.top-right {
    border-top-right-radius: var(--big_ele_border_radius);
}

.startBoxCorner.bottom-left {
    border-bottom-left-radius: var(--big_ele_border_radius);
}

.startBoxCorner.bottom-right {
    border-bottom-right-radius: var(--big_ele_border_radius);
}

.startBox:hover .startBoxCorner {
    font-size: 1.6rem;
    border-width: 4.6px;
}

.startHelpBtnWrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 1.2em;
    margin: 1.6em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.startHelpBtnImg {
    width: var(--fs_heading_lg);
    color: var(--snow_white_color);
    cursor: pointer;
}

.startHelpBtnImg.full {
    width: 0;
}

.startHelpBtnWrapper:hover .startHelpBtnImg.empty {
    width: 0;
}

.startHelpBtnWrapper:hover .startHelpBtnImg.full {
    width: var(--fs_heading_lg);
}

.startBoxContent {
    font-size: 1rem;
    padding: 2.2em 2.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startTitleWrapper {
    width: 100%;

    font-size: 1rem;
    margin-bottom: 6.6em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.startTitleImg {
    width: 760px;
}

.startForm {
    width: 100%;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
}

.startInp {
    width: clamp(50%, 330px, 76%);
    font-size: var(--fs_normal_md);
    padding: 0.36em 0.6em;
    letter-spacing: 0.16em;

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1.5px solid var(--blue_color);
}

.startInp::placeholder,
.startInp {
    color: var(--blue_color);
    font-weight: 360;
}

.startBtn {
    font-weight: 860;

    width: 50%;
    height: 100px;
    min-height: 90px;
    overflow: hidden;
    cursor: crosshair;

    background-color: transparent;
    outline: none;
    border: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.startBtnImg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;

    position: absolute;
    height: 340px;
    top: -130%;
    clip-path: inset(0 50% 0 50%); /* Hide img from both sides */
    transition: var(--ele_transition);

    color: var(--white_color);
    z-index: 10;
}

.startBtnText {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;

    position: absolute;
    top: 56%;

    font-size: var(--fs_heading_3sm);
    font-weight: 860;
    color: var(--white_text);
    transition: all;
    transition: var(--ele_transition);
    z-index: 11;
}

.startBtn:hover .startBtnImg {
    clip-path: inset(0 0 0 0); /* Reveal fully svg img */
}

.startBtn:hover .startBtnText {
    color: var(--black_text);
}

.creditWrapper {
    font-size: 1rem;
    padding: 0.26em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2em;
    background-color: var(--ele_dark_smoke_bg_color);
    transition: var(--ele_transition);
}

.creditWrapper:hover {
    background-color: var(--ele_black_bg_color);
}

.usrName {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.usrName,
.iconPicCredit,
.creditLink {
    font-size: var(--fs_normal_sm);
    color: var(--white_text);
    letter-spacing: 0.16em;
    transition: var(--ele_transition);
    cursor: default;
}

.usrName:hover,
.creditLink:hover {
    color: var(--white_color);
    font-weight: 600;
    transform: scale(1.1);
    cursor: pointer;
}

.gitIcon {
    height: var(--fs_heading_3sm);
}

.iconPicCredit,
.iconPicCredit span {
    font-size: var(--fs_normal_3sm);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.86em;
}

/* =============================================== */
/* PREPARATION SCREEN SETUP  */
/* =============================================== */
.prepScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.prepScreen.hide {
    display: none;
}

.prepWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.36em;
}

.prepTop,
.prepMid,
.prepBot {
    width: 100%;
    font-size: 1rem;
    padding: 1.06em;
    background-color: var(--ele_black_bg_color);
    border-radius: var(--smaller_ele_border_radius);
    border: 2px solid transparent;
    transition: var(--ele_transition);
}

.prepTop:hover,
.prepMid:hover,
.prepBot:hover {
    border-color: var(--primary_color);
}

.prepTop {
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4em;
}

.pTopImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pTopText,
.userName {
    font-size: var(--fs_normal_md);
    font-weight: 300;
    letter-spacing: 0.1em;
    /* max-width: 75ch; */
    color: var(--white_text);
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.userName {
    font-size: 2.2rem;
    font-weight: 500;
}

.pTopText {
    border-right: 0.66em solid var(--primary_color);
    animation:
        typing 2.6s steps(30, end),
        teamBlinkCaret 1600ms step-end infinite;
}

.prepMid {
    max-height: 576px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.6em;
}

.pMidLeft {
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1.2em;
}

.pMidDirections {
    grid-column: 1 / 3;

    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.6em;

    margin-bottom: 1em;
}

.pMidDirections .gameBtn.active {
    background-color: var(--ele_light_white_bg_color);
    color: var(--black_text);
    font-weight: 960;
}

.pMidDirections .gameBtn.active:hover {
    background-color: var(--dark_gray_color);
    color: var(--black_color);
}

.pLetterWrapper {
    grid-column: 2 / 3;
}

.pNumberWrapper {
    grid-column: 1 / 2;
}

.prepMapWrapper {
    position: relative;
    height: calc(var(--cell_size) * 10.1);
    width: calc(var(--cell_size) * 10.1);
    background-image: var(--radial_team_map_color_overlay);
    border: 4.2px solid var(--primary_color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.pMidRight {
    height: 100%;
    font-size: 1rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-rows: auto;
    gap: 1.6em;
}

.shipCard {
    min-width: 96px;
    aspect-ratio: 1 / 1;
    background-color: var(--black_color);
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shipCardCorner {
    height: 16%;
    width: 16%;
    border-color: var(--dark_gray_color);
    transition: var(--ele_transition);
}

.shipCardContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shipCardImg {
    width: 80px;
    aspect-ratio: 1 / 1;
    color: var(--dark_gray_color);
}

.cardText,
.cardTextSize {
    font-size: calc(var(--fs_normal_3sm) * 0.66);
    font-weight: 460;
    color: var(--dark_gray_color);
    transition: var(--ele_transition);
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.cardTextSize {
    display: block;
}

.shipCard:hover .shipCardCorner {
    height: 30%;
    width: 30%;
    border-color: var(--snow_white_color);
}

.shipCard:hover .shipCardImg,
.shipCard:hover .cardText,
.shipCard:hover .cardTextSize {
    color: var(--snow_white_color);
    font-weight: 660;
}

.shipCard.dragging {
    opacity: 0.36;
    transform: scale(0.66);
}
.shipCard.drop {
    cursor: not-allowed;
}

.shipCard.drop > *,
.shipCard.drop .shipCardCorner {
    cursor: not-allowed;
    opacity: 0.26;
}

.shipCard.drop .shipCardCorner {
    height: 16%;
    width: 16%;
}

.shipCard.drop:hover > *,
.shipCard.drop:hover .shipCardCorner {
}

.prepBot {
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4em;
}

.pBotBtnWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.6em;
}

/* =============================================== */
/* GAME PLAY SCREEN SETUP  */
/* =============================================== */
.gameScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.gameScreen.hide {
    display: none;
}

.gameWrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
}

.gameSidesWrapper {
    /* max-height: 576px; */
    width: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.6em;
}

.gSideWrapper,
.gameChatWrapper {
    font-size: 1rem;
    padding: 1.6em;
    background-color: var(--ele_black_bg_color);
    border-radius: var(--smaller_ele_border_radius);
    transition: var(--ele_transition);
}

.gSideWrapper {
    font-size: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
}

.gSideWrapper.active {
    border: 1px solid var(--snow_white_color);
    pointer-events: all;
}

.gSideWrapper:not(.active) {
    pointer-events: none;
}

.gSideHeading {
    grid-column: 1 / 3;
    font-size: var(--fs_heading_3sm);
    font-weight: 600;
    margin: 0 auto;
    cursor: default;
}

.gSideWrapper.team .gSideHeading {
    color: var(--primary_color);
}

.gSideWrapper.enemy .gSideHeading {
    color: var(--red_color);
}

.gLetterWrapper {
    grid-column: 2 / 3;
}

.gNumberWrapper {
    grid-column: 1 / 2;
}

.gSideMapWrapper {
    position: relative;
    height: calc(var(--cell_size) * 10.1);
    width: calc(var(--cell_size) * 10.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.gameChatWrapper {
    width: 100%;
    min-width: 80%;
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4em;
    transition: var(--ele_transition);
}

.gameChatWrapper.enemy {
    flex-direction: row-reverse;
    gap: 1em;
}

.gameChatWrapper.active {
    border: 1.6px solid var(--light_yellow_color);
}

.chatContent {
    display: inline;
    width: fit-content;
    font-size: calc(var(--fs_normal_xl) * 0.9);
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: var(--white_text);
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

.chatContent.teamText {
    border-right: 0.66em solid var(--primary_color);
    animation:
        typing 2s steps(30, end),
        teamBlinkCaret 1600ms step-end infinite;
}

.chatContent.enemyText {
    font-size: var(--fs_normal_md);
    border-right: 0.66em solid var(--red_color);
    animation:
        typing 2s steps(30, end),
        enemyBlinkCaret 1600ms step-end infinite;
}

/* =============================================== */
/* HELPER SCREEN SETUP  */
/* =============================================== */
/* =============================================== */
/* START HELPER SETUP  */
/* =============================================== */
.helperScreenWrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100vh;
    width: 100vw;

    background-color: var(--ele_dark_smoke_bg_color);
    backdrop-filter: blur(14.6px) brightness(0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 360ms ease-out;

    z-index: 20;
}

.helperScreenWrapper.hide {
    display: none;
    animation: vanish 360ms ease-out;
}

.startHelpBox {
    background-color: var(--ele_white_bg_color);
    font-size: 1rem;
    padding: 3.2em 4.6em;
    max-width: 60%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.startHelpBox.hide {
    display: none;
}

.daggerImg {
    position: absolute;
    top: -16%;
    left: 32%;
    aspect-ratio: 1 / 1;
    transform: rotate(10deg);
    height: 240px;
}

.helpBoxTitle {
    font-size: var(--fs_heading_4xl);
    font-weight: 900;
    color: var(--black_text);
    margin: 0;
    /* margin-bottom: 0.1em; */
    cursor: default;
}

.helpBoxBody {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6em;
    cursor: default;
}

.helpBodyPart {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
}

.helpBodyTitle {
    font-size: var(--fs_normal_xl);
    font-weight: 600;
    color: var(--black_text);
    letter-spacing: 0.06em;
}

.helpBodyContent {
    font-size: var(--fs_normal_lg);
    margin-left: 2.4em;
    color: var(--black_text);
    max-width: 75ch;
    letter-spacing: 0.04em;
    line-height: 1.4;
}

.startHelpBoxCloseWrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    padding: 1em;
    margin: 1em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.helpBoxCloseBtn {
    height: var(--fs_heading_lg);
    cursor: pointer;
    color: var(--black_text);
}

.helpBoxCloseBtn.full {
    width: 0;
}

.startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.empty {
    width: 0;
}

.startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.full {
    width: var(--fs_heading_lg);
}

/* =============================================== */
/* RESULT HELPER SETUP  */
/* =============================================== */
.resultBox {
    font-size: 1rem;
    max-height: 50%;
    padding: 2.6em;
    border-radius: var(--big_ele_border_radius);
    background-color: var(--black_color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5.6em;
}

.resultBox.hide {
    display: none;
}

.resultHeading {
    font-size: var(--fs_heading_lg);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white_text);
    margin: 0;
}

.resultPlayerWrapper {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4em;
}

.resultImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultText {
    display: block;
    font-size: var(--fs_normal_lg);
    max-width: 75ch;
    color: var(--white_text);
    text-align: justify;
}

.resultText.teamText {
    font-size: 2.6rem;
}

/* =============================================== */
/* RESPONSIVE SETUP  */
/* =============================================== */
@media (max-width: 1100px) {
    /* START HELPER  */
    .startHelpBtnImg,
    .startHelpBtnWrapper:hover .startHelpBtnImg.full {
        width: calc(var(--fs_heading_lg) * 0.96);
    }

    .startHelpBox {
        max-width: 86%;
        padding: 3em 4.2em;
    }

    .daggerImg {
        top: -12%;
        height: 200px;
    }

    .helpBoxTitle {
        font-size: calc(var(--fs_heading_4xl) * 0.96);
    }

    .helpBodyTitle {
        font-size: calc(var(--fs_normal_xl) * 0.92);
    }

    .helpBodyContent {
        font-size: calc(var(--fs_normal_lg) * 0.9);
    }

    .startHelpBoxCloseWrapper .helpBoxCloseBtn {
        height: calc(var(--fs_heading_lg) * 0.9);
    }

    .startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.full {
        width: calc(var(--fs_heading_lg) * 0.9);
    }

    /* START PAGE  */
    .startBoxCorner {
        width: 4.2em;
        height: 4.2em;
    }

    .startBox:hover .startBoxCorner {
        font-size: 1.4rem;
    }

    .startBoxContent {
        padding: 2em 2.4em;
    }

    .startTitleImg {
        min-width: 680px;
        width: 90%;
    }

    .startInp {
        font-size: calc(var(--fs_normal_md) * 0.96);
    }

    .startBtnText {
        font-size: var(--fs_normal_xl);
    }

    .startBtnImg {
        height: 320px;
        top: -120%;
    }

    .usrName,
    .iconPicCredit,
    .creditLink {
        font-size: var(--fs_normal_4sm);
    }

    .gitIcon {
        height: var(--fs_normal_xl);
    }

    .iconPicCredit {
        font-size: var(--fs_normal_4sm);
    }

    /* PREP PAGE  */
    .prepTop,
    .prepMid,
    .prepBot {
        padding: 1.046em;
    }

    .characterImg {
        height: calc(var(--fs_heading_lg) * 0.9);
    }

    .pTopText,
    .userName {
        font-size: calc(var(--fs_normal_md) * 0.96);
        letter-spacing: 0.106em;
    }

    .gameBtn {
        font-size: var(--fs_normal_sm);
        padding: 0.46em;
    }

    .cardText,
    .cardTextSize {
        font-size: calc(var(--fs_normal_3sm) * 0.5);
    }

    .carrierImg {
        width: calc(var(--cell_size) * 5);
        height: var(--cell_size);
    }

    .carrierImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 2.06), 198%);
    }

    .battleshipImg {
        width: calc(var(--cell_size) * 4);
        height: var(--cell_size);
    }

    .battleshipImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) + 24px), 150%);
    }

    .destroyerImg {
        width: calc(var(--cell_size) * 3);
        height: var(--cell_size);
    }

    .destroyerImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) + 3px), 100%);
    }

    .submarineImg {
        width: calc(var(--cell_size) * 3);
        height: var(--cell_size);
    }

    .submarineImg.vertical {
        transform: rotate(90deg) translate(var(--cell_size), 100%);
    }

    .cruiserImg {
        width: calc(var(--cell_size) * 2);
        height: var(--cell_size);
    }

    .cruiserImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) - 18px), 46%);
    }

    /* GAME PLAY SCREEN  */
    .gameWrapper {
        width: 80%;
        gap: 1.6em;
    }

    .gameSidesWrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 1.6em;
        gap: 0;
    }

    .gameSidesWrapper > * {
        align-self: center;
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .gSideWrapper {
        opacity: 1;
        transition:
            visibility 360ms ease-in-out,
            border 360ms ease-in-out,
            background-color 360ms ease-in-out,
            opacity 360ms ease-in-out;
        transition-delay: 1660ms;
    }

    .gSideWrapper > * {
        opacity: 1;
        transition:
            visibility 360ms ease-in-out,
            background-color 360ms ease-in-out,
            opacity 360ms ease-in-out;
        transition-delay: 2000ms;
    }

    .gSideWrapper:not(.active),
    .gSideWrapper:not(.active) > * {
        opacity: 0;
        visibility: hidden;
        background-color: transparent;
    }

    .gameChatWrapper {
        width: 100%;
        min-width: auto;
        max-height: 60px;
        padding: 1em;
        overflow-y: auto;
    }

    .chatContent {
        font-size: var(--fs_normal_sm);
        text-wrap: pretty;
    }
    .chatContent.enemyText {
        font-size: var(--fs_normal_3sm);
    }

    /* RESULT SCREEN  */
    .resultBox {
        font-size: 1rem;
        max-height: 60%;
        max-width: 90%;
    }

    .resultHeading {
        font-size: var(--fs_heading_md);
    }

    .resultPlayerWrapper {
        gap: 2em;
    }

    .resultText {
        font-size: var(--fs_normal_md);
    }

    .resultText.teamText {
        font-size: var(--fs_normal_lg);
    }
}

@media (max-width: 768px) {
    /* START HELPER  */
    .startHelpBtnImg,
    .startHelpBtnWrapper:hover .startHelpBtnImg.full {
        width: var(--fs_heading_md);
    }

    .startHelpBox {
        max-width: 90%;
        padding: 3em 3.6em;
    }

    .daggerImg {
        top: -6%;
        left: 30%;
        height: 120px;
    }

    .helpBoxTitle {
        font-size: var(--fs_heading_xl);
    }

    .helpBodyTitle {
        font-size: var(--fs_normal_md);
    }

    .helpBodyContent {
        font-size: calc(var(--fs_normal_sm) * 0.9);
    }

    .startHelpBoxCloseWrapper .helpBoxCloseBtn {
        height: var(--fs_heading_sm);
    }

    .startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.full {
        width: var(--fs_heading_sm);
    }

    /* START PAGE  */
    .startBoxCorner {
        width: 4em;
        height: 4em;
    }

    .startBox:hover .startBoxCorner {
        font-size: 1.2rem;
    }

    .startBoxContent {
        padding: 1.6em 2em;
    }

    .startTitleImg {
        min-width: 320px;
        width: 90%;
    }

    .startInp {
        font-size: var(--fs_normal_ssm);
    }

    .startBtnText {
        font-size: var(--fs_normal_md);
    }

    .startBtnImg {
        height: 220px;
        top: -62%;
    }

    .creditWrapper {
        gap: 1.6em;
    }

    .usrName,
    .iconPicCredit,
    .creditLink {
        font-size: calc(var(--fs_normal_4sm) * 0.46);
    }

    .gitIcon {
        height: var(--fs_normal_md);
    }

    .iconPicCredit {
        gap: 0.6em;
    }

    .iconPicCredit > span {
        /* font-size: calc(var(--fs_normal_4sm) * 0.06) !important; */
        display: none;
    }

    .usrName:hover,
    .creditLink:hover {
        transform: scale(1.06);
    }

    /* PREP PAGE  */
    .prepTop,
    .prepMid,
    .prepBot {
        max-width: 90%;
        padding: 1.026em;
    }

    .prepMid {
        gap: 1.8em;
    }

    .prepTop {
        overflow-y: auto;
    }

    .characterImg {
        height: calc(var(--fs_heading_sm) * 0.9);
    }

    .pTopText,
    .userName {
        font-size: var(--fs_normal_sm);
        letter-spacing: 0.106em;
        text-wrap: pretty;
    }

    .pTopText {
        text-wrap: pretty;
    }

    .gameBtnCorner {
        height: 22%;
        width: 10%;
    }

    .gameBtn {
        font-size: var(--fs_normal_3sm);
        padding: 0.46em;
    }

    .cardText,
    .cardTextSize {
        font-size: calc(var(--fs_normal_4sm) * 0.2);
    }

    .prepMapWrapper {
        height: calc(calc(var(--cell_size) * 0.6) * 10.1);
        width: calc(calc(var(--cell_size) * 0.6) * 10.1);
    }

    .prepMapWrapper .mapGrid,
    .prepMapWrapper .mapShipsOverlay {
        grid-template-columns: repeat(10, calc(var(--cell_size) * 0.6));
        grid-template-rows: repeat(10, calc(var(--cell_size) * 0.6));
    }

    .prepMapWrapper .mapCell {
        height: calc(var(--cell_size) * 0.6);
        width: calc(var(--cell_size) * 0.6);
    }

    .shipCard {
        min-width: 60px;
        /* max-width: 26px; */
    }

    .shipCardContent .shipCardImg {
        width: 90%;
    }

    .prepMapWrapper .shipCardImg {
        width: 80%;
    }

    .prepMapWrapper .carrierImg {
        width: calc(calc(var(--cell_size) * 0.6) * 5);
        height: calc(var(--cell_size) * 0.6);
    }

    .prepMapWrapper .carrierImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.6) * 2.06), 190%);
    }

    .prepMapWrapper .battleshipImg {
        width: calc(calc(var(--cell_size) * 0.6) * 4);
        height: calc(var(--cell_size) * 0.6);
    }

    .prepMapWrapper .battleshipImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.6) + 20px), 150%);
    }

    .prepMapWrapper .destroyerImg {
        width: calc(calc(var(--cell_size) * 0.6) * 3);
        height: calc(var(--cell_size) * 0.6);
    }

    .prepMapWrapper .destroyerImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.6), 100%);
    }

    .prepMapWrapper .submarineImg {
        width: calc(calc(var(--cell_size) * 0.6) * 3);
        height: calc(var(--cell_size) * 0.6);
    }

    .prepMapWrapper .submarineImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.6), 100%);
    }

    .prepMapWrapper .cruiserImg {
        width: calc(calc(var(--cell_size) * 0.6) * 2);
        height: calc(var(--cell_size) * 0.6);
    }

    .prepMapWrapper .cruiserImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.6) - 24px), 46%);
    }

    /* GAME PLAY SCREEN  */
    .gameWrapper {
        width: 90%;
        gap: 1.6em;
    }

    .gSideHeading {
        font-size: var(--fs_normal_lg);
    }

    .gSideMapWrapper {
        height: calc(calc(var(--cell_size) * 0.76) * 10.1);
        width: calc(calc(var(--cell_size) * 0.76) * 10.1);
    }

    .gSideMapWrapper .mapGrid,
    .gSideMapWrapper .mapShipsOverlay {
        grid-template-columns: repeat(10, calc(var(--cell_size) * 0.76));
        grid-template-rows: repeat(10, calc(var(--cell_size) * 0.76));
    }

    .gSideMapWrapper .mapCell {
        height: calc(var(--cell_size) * 0.76);
        width: calc(var(--cell_size) * 0.76);
    }

    .gSideMapWrapper .carrierImg {
        width: calc(calc(var(--cell_size) * 0.76) * 5);
        height: calc(var(--cell_size) * 0.76);
        /* transform: translateY(20%); */
    }

    .gSideMapWrapper .carrierImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.76) * 2), 190%);
    }

    .gSideMapWrapper .battleshipImg {
        width: calc(calc(var(--cell_size) * 0.76) * 4);
        height: calc(var(--cell_size) * 0.76);
    }

    .gSideMapWrapper .battleshipImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.76) + 20px), 145%);
    }

    .gSideMapWrapper .destroyerImg {
        width: calc(calc(var(--cell_size) * 0.76) * 3);
        height: calc(var(--cell_size) * 0.76);
        transform: translate(4%, 10%);
    }

    .gSideMapWrapper .destroyerImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.76) + 4px), 100%);
    }

    .gSideMapWrapper .submarineImg {
        width: calc(calc(var(--cell_size) * 0.76) * 3);
        height: calc(var(--cell_size) * 0.76);
    }

    .gSideMapWrapper .submarineImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.76), 100%);
    }

    .gSideMapWrapper .cruiserImg {
        width: calc(calc(var(--cell_size) * 0.76) * 2);
        height: calc(var(--cell_size) * 0.76);
        transform: translate(6%, 10%);
    }

    .gSideMapWrapper .cruiserImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.76) - 14px), 42%);
    }

    .gameChatWrapper {
        max-height: 76px;
        padding: 1.6em;
        gap: 2em;
    }

    .gameChatWrapper.enemy {
        gap: 1.4em;
    }

    .chatContent {
        font-size: calc(var(--fs_normal_sm) * 0.96);
        letter-spacing: 0.2em;
        font-weight: 100;
    }
    .chatContent.enemyText {
        font-size: var(--fs_normal_4sm);
        line-height: 1.8;
        font-weight: 60;
    }

    /* RESULT SCREEN  */
    .resultBox {
        max-height: 76%;
        max-width: 90%;
        padding: 2.2em;
        gap: 3.6em;
    }

    .resultHeading {
        font-size: var(--fs_heading_sm);
    }

    .resultPlayerWrapper {
        gap: 1.6em;
    }

    .resultText {
        font-size: var(--fs_normal_sm);
        letter-spacing: 0.16em;
    }

    .resultText.teamText {
        font-size: calc(var(--fs_normal_lg) * 0.9);
        letter-spacing: 0;
    }
}

@media (max-width: 460px) {
    /* START HELPER  */
    .startHelpBtnImg,
    .startHelpBtnWrapper:hover .startHelpBtnImg.full {
        width: var(--fs_normal_xl);
    }

    .startHelpBox {
        max-width: 96%;
        padding: 2.4em 2.6em;
    }

    .daggerImg {
        top: -4%;
        left: 34%;
        height: 80px;
    }

    .helpBoxTitle {
        font-size: var(--fs_heading_sm);
    }

    .helpBodyTitle {
        font-size: var(--fs_normal_ssm);
    }

    .helpBodyContent {
        font-size: calc(var(--fs_normal_sm) * 0.9);
        font-size: var(--fs_normal_3sm);
    }

    .startHelpBoxCloseWrapper .helpBoxCloseBtn {
        height: var(--fs_heading_3sm);
    }

    .startHelpBoxCloseWrapper:hover .helpBoxCloseBtn.full {
        width: var(--fs_heading_3sm);
    }

    /* START PAGE  */
    .startBoxCorner {
        width: 4em;
        height: 4em;
    }

    .startBox:hover .startBoxCorner {
        font-size: 1rem;
    }

    .startBoxContent {
        padding: 1em 1.4em;
    }

    .startTitleWrapper {
        margin-bottom: 2.6em;
    }

    .startTitleImg {
        min-width: 120px;
        width: 80%;
    }

    .startForm {
        gap: 0.6em;
    }

    .startInp {
        font-size: var(--fs_normal_4sm);
    }

    .startBtn {
        font-weight: 460;
        /* height: 80px; */
    }

    .startBtnText {
        font-size: var(--fs_normal_ssm);
    }

    .startBtnImg {
        height: 160px;
        top: -30%;
    }

    .creditWrapper {
        gap: 1em;
    }

    .usrName,
    .iconPicCredit,
    .creditLink {
        font-size: calc(var(--fs_normal_4sm) * 0.36);
    }

    .gitIcon {
        height: var(--fs_normal_sm);
    }

    .iconPicCredit {
        gap: 0.3em;
    }

    .iconPicCredit > span {
        display: none;
    }

    .usrName:hover,
    .creditLink:hover {
        transform: scale(1.03);
    }

    /* PREP PAGE  */
    .prepTop,
    .prepMid,
    .prepBot {
        max-width: 96%;
        padding: 1em;
    }

    .prepMid {
        gap: 1.2em;
    }

    .prepTop {
        overflow-y: auto;
        gap: 1.2em;
    }

    .characterImg {
        height: calc(var(--fs_heading_sm) * 0.9);
    }

    .pTopText,
    .userName {
        font-size: var(--fs_normal_3sm);
        letter-spacing: 0.106em;
        text-wrap: pretty;
    }

    .pTopText {
        text-wrap: pretty;
    }

    .gameBtnCorner {
        height: 22%;
        width: 10%;
    }

    .gameBtn {
        font-size: calc(var(--fs_normal_3sm) * 0.9);
        padding: 0.46em;
    }

    .cardText,
    .cardTextSize {
        font-size: calc(var(--fs_normal_4sm) * 0.2);
        font-size: 1px;
        font-weight: 200;
    }

    .prepMapWrapper {
        height: calc(calc(var(--cell_size) * 0.5) * 10.1);
        width: calc(calc(var(--cell_size) * 0.5) * 10.1);
    }

    .prepMapWrapper .mapGrid,
    .prepMapWrapper .mapShipsOverlay {
        grid-template-columns: repeat(10, calc(var(--cell_size) * 0.5));
        grid-template-rows: repeat(10, calc(var(--cell_size) * 0.5));
    }

    .prepMapWrapper .mapCell {
        height: calc(var(--cell_size) * 0.5);
        width: calc(var(--cell_size) * 0.5);
    }

    .shipCard {
        min-width: 50px;
        max-width: 56px;
        padding: 1.2em;
    }

    .shipCard .shipCardImg {
        width: 96%;
    }

    .prepMapWrapper .carrierImg {
        width: calc(calc(var(--cell_size) * 0.5) * 5);
        height: calc(var(--cell_size) * 0.5);
        transform: translateY(-10%);
    }

    .prepMapWrapper .carrierImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.5) * 2.06), 190%);
    }

    .prepMapWrapper .battleshipImg {
        width: calc(calc(var(--cell_size) * 0.5) * 4);
        height: calc(var(--cell_size) * 0.5);
        transform: translateY(-6%);
    }

    .prepMapWrapper .battleshipImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.5) + 20px), 150%);
    }

    .prepMapWrapper .destroyerImg {
        width: calc(calc(var(--cell_size) * 0.5) * 3);
        height: calc(var(--cell_size) * 0.5);
    }

    .prepMapWrapper .destroyerImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.5), 100%);
    }

    .prepMapWrapper .submarineImg {
        width: calc(calc(var(--cell_size) * 0.5) * 3);
        height: calc(var(--cell_size) * 0.5);
    }

    .prepMapWrapper .submarineImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.5), 100%);
    }

    .prepMapWrapper .cruiserImg {
        width: calc(calc(var(--cell_size) * 0.5) * 2);
        height: calc(var(--cell_size) * 0.5);
    }

    .prepMapWrapper .cruiserImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.5) - 10px), 46%);
    }

    /* GAME PLAY SCREEN  */
    .gameWrapper {
        width: 96%;
        gap: 1.2em;
        margin-bottom: 1.4em;
    }

    .gSideHeading {
        font-size: var(--fs_normal_md);
    }

    .letter,
    .number {
        font-size: calc(var(--fs_normal_4sm) * 0.76);
    }

    .gSideMapWrapper {
        height: calc(calc(var(--cell_size) * 0.56) * 10.1);
        width: calc(calc(var(--cell_size) * 0.56) * 10.1);
    }

    .gSideMapWrapper .mapGrid,
    .gSideMapWrapper .mapShipsOverlay {
        grid-template-columns: repeat(10, calc(var(--cell_size) * 0.56));
        grid-template-rows: repeat(10, calc(var(--cell_size) * 0.56));
    }

    .gSideMapWrapper .mapCell {
        height: calc(var(--cell_size) * 0.56);
        width: calc(var(--cell_size) * 0.56);
    }

    .gSideMapWrapper .carrierImg {
        width: calc(calc(var(--cell_size) * 0.56) * 5);
        height: calc(var(--cell_size) * 0.56);
    }

    .gSideMapWrapper .carrierImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.56) * 2.2), 190%);
    }

    .gSideMapWrapper .battleshipImg {
        width: calc(calc(var(--cell_size) * 0.56) * 4);
        height: calc(var(--cell_size) * 0.56);
    }

    .gSideMapWrapper .battleshipImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.56) + 12px), 145%);
    }

    .gSideMapWrapper .destroyerImg {
        width: calc(calc(var(--cell_size) * 0.56) * 3);
        height: calc(var(--cell_size) * 0.56);
        transform: translate(3%, 10%);
    }

    .gSideMapWrapper .destroyerImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.56) + 4px), 100%);
    }

    .gSideMapWrapper .submarineImg {
        width: calc(calc(var(--cell_size) * 0.56) * 3);
        height: calc(var(--cell_size) * 0.56);
    }

    .gSideMapWrapper .submarineImg.vertical {
        transform: rotate(90deg) translate(calc(var(--cell_size) * 0.56), 100%);
    }

    .gSideMapWrapper .cruiserImg {
        width: calc(calc(var(--cell_size) * 0.56) * 2);
        height: calc(var(--cell_size) * 0.56);
        transform: translate(6%, 10%);
    }

    .gSideMapWrapper .cruiserImg.vertical {
        transform: rotate(90deg) translate(calc(calc(var(--cell_size) * 0.56) - 10px), 42%);
    }

    .gameChatWrapper {
        max-height: 76px;
        padding: 1.8em;
        gap: 1.6em;
    }

    .gameChatWrapper.enemy {
        gap: 1em;
    }

    .chatContent {
        font-size: calc(var(--fs_normal_sm) * 0.96);
        font-size: var(--fs_normal_3sm);
        letter-spacing: 0.2em;
        line-height: 1.36;
        font-weight: 100;
    }
    .chatContent.enemyText {
        font-size: var(--fs_normal_4sm);
        line-height: 1.8;
        font-weight: 60;
    }

    /* RESULT SCREEN  */
    .resultBox {
        max-height: 76%;
        max-width: 92%;
        padding: 2.2em;
        gap: 2.6em;
    }

    .resultHeading {
        font-size: var(--fs_heading_3sm);
    }

    .resultPlayerWrapper {
        gap: 1.6em;
    }

    .resultText {
        font-size: var(--fs_normal_ssm);
        letter-spacing: 0.06em;
        text-wrap: pretty;
    }

    .resultText.teamText {
        font-size: calc(var(--fs_normal_md) * 0.9);
        letter-spacing: 0;
    }
}
